
@import url('https://fonts.googleapis.com/css2?family=Ruluko&display=swap');



.makes-us-different {
  margin-top: 6em;
}
.m-top {
  margin-top: 2em;
}
.m-bottom {
  margin-bottom: 1em;
}

.why-us-icons {
  width: 25px;
  margin-right: 1em;
  padding-top: 0.7em;
}

.points {
  display: flex;
  align-items: flex-start;
  margin-top: 1.5em;
}

.priytam {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
}

@media (max-width: 576px) {
  .faq_content.collaps_style .card {
    margin-top: 2em;
  }
}

.header_part.classic_header.menu_padding .navbar .nav-link {
  padding: 25px 0;
}

.header_part.classic_header.menu_padding {
  padding: 5px 50px;
}

@media (max-width: 768px) {
  .header_part.classic_header.menu_padding {
    padding: 5px 20px;
  }
}

.social_icon a:first-child {
  margin: 0;
}


.footer_section .single_footer_widget p  {
  font-family: 'Ruluko', sans-serif;
}

html {
  scroll-behavior:color: #7d7d7d;mooth;
}

.dropdown-menu {
  width: 90%;
  margin-left: auto;
  max-width: 950px;
  left: auto;
  right: 0;
}

#navbarNavDropdown {
  top: 56px;
}

.fa-check-circle {
  color: rgb(32, 176, 233);
}

.service-includes {
  background: #f4f7f8;
  list-style: none;
  padding: 4em 0;
  margin: 5em 0;
}
.service-includes li {
  list-style: none;
}
.service-includes li a{
  color: #7d7d7d;
  pointer-events: none;
}

.service-includes h1 {
  margin-bottom: 1em;
}

.pricing-plans {
  margin: -4em 0;
}


.services-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.green-check {
  position: absolute;
  left: 0;
  color: green;
}

.red-check  {
  position: absolute;
  left: 0;
  color: red;
}

.service-process {
  background: #fff;
}

.service-process-icon:hover {
  color: rgb(32, 176, 233);
  transition: color 0.2s ease-in-out;
}